doctype html  
html 
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Natours | 
        link(rel='stylesheet' href='/css/style.css')
        link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
        link(rel='stylesheet' href='https://fonts.googlealis.com/css?family=Lato:300,300i,700')

    body 
        //header
        include _header
        //content
        block content 
            h1 This is a placeholder heading 



        //foter
        include _footer
        script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js')
        script(defer src='/js/login.js')
        script(src='/js/alerts.js')
        script(src='/js/index.js')

